.squares {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    gap: 350px;
    align-items: center;
}

.div {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.img_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img {
    text-align: center;
    height: 152px;
    width: 150px;
}

.square_medio {
    height: 245px;
    width: 270px;
}

.span {
    color: #38B6FF;
}

.parrafo {
    height: 90px;
    width: 300px;
    font-size: 23px;
    line-height: 35px;
}







.mas_sobre {
    height: 800px;
    width: calc(100vw - 10px);
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    justify-content: center;
}


.inside_mas_sobre {
    height: 100%;
    display: flex;
    align-items: center;
}



.div_izquierda {
    height: 100%;
    width: 303px;

}

.div_derecha {
    background-image: url("https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1080&q=80");
    height: 100%;
    width: 1600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 0px 20px;
    background-size: cover;
    background-position: 10% 45%;
}


.inside_div_derecha{
    display: flex;
    align-items: center;
    margin-left: -175px;
    height: 100%;
    gap: 30px;
}

.square{
    height: 450px;
    width: 450px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;

    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}   



.square .image{
    width: 110px;
    height: 110px;
}

.square h3{
    
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.square p{
    width: 285px;
    font-size: 23px;
    line-height: 40px;
    margin-left: 5px;
}





.div_square_chico{
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.square_chico{
    width: 100%;
    height: 210px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    padding: 20px;
}


.square_chico_txt{
    display: flex;
    flex-direction: column;
}


.square_chico_txt h3{
    font-size: 23px;
    margin-bottom: 0px;
}

.square_chico_txt p{
    font-size: 16px;
    width: 180px;
    line-height: 25px;
}



.square_chico .image{
    width: 110px;
    height: 110px;
    margin: auto;
}

.img_nosotros{
    margin-top: 20px;
    margin-left: 20px;
    height: 82px;
    width: 68px;
}

.txt_nosotros{
    margin-top: 20px;
    margin-left: 20px;
}

.txt_nosotros h3{
    font-size: 30px;
}

.txt_nosotros p{
    font-size: 23px;
    width: 350px;
}

.logo_creditos{
    margin-left: 20px;
}

.img_creditos{
    height: 125px;
    width: 125px;
}

.txt_creditos{
    margin-top: -3px;
    margin-left: 20px ;
}
























.arriba {
    height: 800px;
    width: calc(100vw - 17px);
    display: flex;
    align-items: center;
    justify-content: center;
    


}


.inside_arriba {
    height: 100%;
    display: flex;
    
}



.div_derecha_arriba {
    height: 100%;
    width: 303px;

}

.div_izquierda_arriba {
    background-image: url("https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1080&q=80");
    height: 100%;
    width: 1600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 0px;
    background-size: cover;
    background-position: 10% 45%;
}


.div_inside_izquierda_arriba{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -175px;
    height: 100%;
    gap: 30px;
}



