.squares {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    gap: 350px;
    align-items: center;
}

.div {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.img_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img {
    text-align: center;
    height: 152px;
    width: 150px;
}

.square_medio {
    height: 245px;
    width: 270px;
}

.span {
    color: #38B6FF;
}

.parrafo {
    height: 90px;
    width: 300px;
    font-size: 23px;
    line-height: 35px;
}

.inmo {
    color: #38B6FF;
}

.mas_sobre {
    height: 800px;
    width: calc(100vw - 10px);
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    justify-content: center;
}


.inside_mas_sobre {
    height: 100%;
    display: flex;
    align-items: center;
}



.div_izquierda {
    height: 100%;
    width: 303px;

}

.div_derecha {
    height: 100%;
    width: 1600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 0px 20px;
    background-size: cover;
    background-position: 10% 45%;
}


.inside_div_derecha {
    display: flex;
    align-items: center;
    margin-left: -175px;
    height: 100%;
    gap: 30px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.square {
    z-index: 2;
    height: 450px;
    width: 450px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.square:hover {
    border: #38B6FF solid 3px;
    transition: all ease-in-out 0.1s;
}

.square_chico:hover {
    border: #38B6FF solid 3px;
    transition: all ease-in-out 0.1s;
}


.square .image {
    width: 110px;
    height: 110px;
}

.square h3 {

    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.square p {
    width: 285px;
    font-size: 23px;
    line-height: 40px;
    margin-left: 5px;
}





.div_square_chico {
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.square_chico {
    z-index: 2;
    width: 100%;
    height: 210px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    padding: 20px;
}


.square_chico_txt {
    display: flex;
    flex-direction: column;
}


.square_chico_txt h3 {
    font-size: 23px;
    margin-bottom: 0px;
}

.square_chico_txt p {
    font-size: 16px;
    width: 180px;
    line-height: 25px;
}



.square_chico .image {
    width: 110px;
    height: 110px;
    margin: auto;
}

.img_nosotros {
    margin-top: 20px;
    margin-left: 20px;
    height: 82px;
    width: 68px;
}


.video {
    width: 1615px;
    height: 800px;
    position: absolute;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    border-bottom-right-radius: 20px;
    top: 0;
    left: 0;
}

.videoD {
    width: 1615px;
    height: 800px;
    position: absolute;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
}


.txt_nosotros {
    margin-top: 20px;
    margin-left: 20px;
}

.txt_nosotros h3 {
    font-size: 30px;
}

.txt_nosotros p {
    font-size: 23px;
    width: 350px;
}

.logo_creditos {
    margin-left: 20px;
}

.img_creditos {
    height: 125px;
    width: 125px;
}

.txt_creditos {
    margin-top: -3px;
    margin-left: 20px;
}

.arriba {
    height: 800px;
    width: calc(100vw - 17px);
    display: flex;
    align-items: center;
    justify-content: center;



}


.inside_arriba {
    height: 100%;
    display: flex;

}



.div_derecha_arriba {
    height: 100%;
    width: 303px;

}

.div_izquierda_arriba {
    height: 100%;
    width: 1600px;
    border-radius: 0px 0px 20px 0px;
}

.div_inside_izquierda_arriba {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -175px;
    height: 100%;
    gap: 30px;
}



.titleF {
    z-index: 2;
    height: 300px;
    width: 600px;
    margin-right: 210px;
    display: flex;
}


.titleM {
    z-index: 2;
    height: 300px;
    width: 600px;
    display: flex;
    margin-left: 190px;
}


.titleF p {
    font-size: 70px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titleM p {
    font-size: 70px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.squareMedia{
    display: flex;
    gap: 20px;
}

.sobreNosotrosMedia{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1700px) {
    .square_chico {
        align-items: center;
        width: 300px;
        height: 200px;
    }

    .square {
        width: 350px;
        height: 350px;
        gap: 5px;

    }
}

@media screen and (max-width: 412px) {

    .div_inside_izquierda_arriba {
        width: 100%;
        height: 300px;
        justify-content: center;
    }

    .div_derecha_arriba {
        display: none;
    }

    .div_derecha {
        width: 412px;
        height: 400px;
    }

    .inside_div_derecha {
        height: 400px;
        width: 100%;
    }

    .videoD {
        width: 100%;
    }

    .video {
        border-radius: 0px;
    }
}


@media screen and (max-width:1366px) {
    .div_izquierda_arriba {
        width: 800px;
    }

    .arriba {
        justify-content: start;
    }

    .div_inside_izquierda_arriba {
        justify-content: center;
    }

    .video {
        width: 1400px;
        height: 750px;
    }

    .titleF {
        position: absolute;
        height: 300px;
        width: 600px;
        margin-right: 210px;
    }

    .titleF p {
        font-size: 60px;
    }

    .square {
        width: 350px;
        height: 450px;
 
    }

    .square img {
        width: 90px;
        height: 90px;
    }

    .square h3 {
        font-size: 25px;
    }

    .square p {
        font-size: 20px;
    }

    .square_chico {
        width: 375px;
    }

    .squares {
        width: 100%;
        height: 300px;
        gap: 300px;
        justify-content: center;
        margin-left: 100px;
        margin-top: 50px;
    }

    .square_medio{
        height: 200px;
        width: 220px;
    }

    .squareMedia{
        margin-left: 1300px;
        display: flex;
        gap: 20px;
    }
    

    .inside_div_derecha{
        width: 1400px;
        height: 750px;
        margin-left: 0px;
    }

    .div_derecha{
        width: 1400px;
        height: 750px;
    }

    .videoD{
        width: 1400px;
        height: 750px;
        
    }

    .txt_nosotros{
        margin-top: 20px;
        margin-left: 0px;
    }

    .txt_nosotros p {
        font-size: 20px;
        width: 280px;
    }

    .logo_creditos {
        margin-left: 0px;
    }
    .txt_creditos {
        margin-top: 20px;
        margin-left: 0px;
    }

    .img_nosotros{
        margin-top: 0px;
        margin-left: 0px;
    }

    .sobreNosotrosMedia{
        display: flex;
        gap: 20px;
        position: absolute;
        margin-right: 750px;
    }
}