.div_supremo{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.div_detalle{
    position: relative;
    height: 300px;
    width: 60%;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.5);
}

/*
.div_detalle:before{
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: black;
    background-size: cover;
    opacity: 0.6;
}
*/

.div_inside_detalle p{
    margin: auto;
    color: #FFFFFF;
}





.main_container{
    
    height: 100%;
    width: 600px;
    background-color: #E8EFF4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container h2{
    font-size: 40px;
    margin-right: 40px;
    line-height: 80px;
    margin-bottom: 0;
}

.text_blue{
    color: #38B6FF;
}

.inside_container{
    width: 500px;
    height: 700px;
}


.form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.div_fields{
    margin-bottom: 30px;
}

.fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.fields label{
    font-size: 20px;
    margin-top: 10px;
}



.fields input{
    width: 400px;
    border: none;
    margin-top: 10px;
    height: 30px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
}



.label_link{
    padding-top: 20px;
    line-height: 30px;
}


.form a{
    color: #38B6FF;
    text-decoration: underline;
    font-weight: 600;
}



.div_link input{
    height: 15px;
    width: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.div_link{
    margin-top: -15px;
}

.div_buttons{
    margin-top: 415px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.div_spinner{
    margin-top: 415px;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
}


.button{
    align-self: flex-end;
    height: 100%;
    border: none;
    background-color: #38B6FF;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border-radius: 3px;

}

.buttonGoogle{
    align-self: flex-end;
    height: 100%;
    border: none;
    padding: 10px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border-radius: 3px;
    margin-left: 20px;
    padding: 9px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonGoogle span{
    margin-right: 6px;
}

.buttonGoogle:hover{
    background-color: #ffffff6e;
}

.button:hover{
    background-color: #228cca;
}

.div_error {
    display: flex;
    align-items: flex-end;
}

.div_error p {
    margin: 0;
    margin-left: 15px;
    font-size: 14px;
    color: red;
}

.div_error label {
    margin: 0;
}