.div_supremo{
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    height: 100%;
}


.div_detalle{
    height: 300px;
    width: 60%;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.5);
    
}

.div_inside_detalle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 100px;
    gap: 200px;
}

.div_inside_detalle p{
    margin: auto;
    color: #FFFFFF;
    line-height: 30px;
    font-size: 20px;
}

.div_inside_detalle img{
    margin-right: 100px;
}





.main_container{
    position: relative;
    height: 100%;
    width: 600px;
    background-color: #E8EFF4;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container h2{
    font-size: 40px;
    margin-right: 40px;
    line-height: 80px;
    margin-bottom: 0;
}

.text_blue{
    color: #38B6FF;
}

.inside_container{
    width: 500px;
    height: 700px;
}

.buttons{
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button{
    width: 100%;
    border: none;
    background-color: #38B6FF;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border-radius: 3px;
}

.fields{
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.fields label{
    font-size: 20px;
    margin-top: 10px;
}

.fields input{
    width: 400px;
    border: none;
    margin-top: 10px;
    height: 30px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
}



.div_error {
    display: flex;
    align-items: flex-end;
}

.div_error p {
    margin: 0;
    margin-left: 15px;
    font-size: 14px;
    color: red;
}

.div_error label {
    margin: 0;
}







.div_error_tel {
    display: flex;
    flex-direction: column;
    
}

.div_error_tel p {
    margin: 0;
    font-size: 14px;
    color: red;
}

.div_error_tel label {
    margin: 0;
}

.div_spinner{
    margin-top: 385px;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
}