.main_container{
    position: relative;
    height: 100%;
    width: 600px;
    background-color: #E8EFF4;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no_spinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2{
    font-size: 40px;
    margin-left: 50px;
    margin-right: 40px;
    line-height: 80px;
    margin-bottom: 0;
}

.text_blue{
    color: #38B6FF;
}


.link{
    margin-top: 50px;
}

.link:hover{
    cursor: pointer;
}

.containers{
    min-height: 250px;
    min-width: 500px;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: flex-end;
}

.inside{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.texts{
    margin-left: 10px;
}

.texts h3{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
}

.texts p{
    margin-top: 10px;
    font-size: 20px;
    width: 400px;
}



.blues{
    height: 100%;
    width: 50px;
    background-color: #38B6FF;
}






.inside_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    

}