.div_supremo{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.div_detalle{
    position: relative;
    height: 300px;
    width: 60%;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.5);
    
}

.div_inside_detalle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 100px;
    gap: 200px;
}

.div_inside_detalle p{
    margin: auto;
    color: #FFFFFF;
    line-height: 30px;
    font-size: 20px;
}

.div_inside_detalle img{
    margin-right: 100px;
}





.main_container{
    position: relative;
    height: 100%;
    width: 600px;
    background-color: #E8EFF4;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.main_container h2{
    font-size: 40px;
    margin-right: 40px;
    line-height: 80px;
    margin-bottom: 0;
}

.text_blue{
    color: #38B6FF;
}

.inside_container{
    width: 500px;
    height: 700px;
}


.form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.div_fields{
    margin-bottom: 30px;
}

.fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.fields label{
    font-size: 20px;
    margin-top: 10px;
}



.fields input{
    width: 400px;
    border: none;
    margin-top: 10px;
    height: 30px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
}



.label_link{
    padding-top: 20px;
    line-height: 30px;
}


.form a{
    color: #38B6FF;
    text-decoration: underline;
    font-weight: 600;
}



.div_link input{
    height: 15px;
    width: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.div_link{
    margin-top: -15px;
}

.div_buttons{
    margin-top: 385px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.div_spinner{
    margin-top: 385px;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
}


.button{
    align-self: flex-end;
    height: 100%;
    border: none;
    background-color: #38B6FF;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border-radius: 3px;

}

.buttonGoogle{
    align-self: flex-end;
    height: 100%;
    border: none;
    padding: 10px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border-radius: 3px;
    margin-left: 20px;
    padding: 9px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonGoogle span{
    margin-right: 6px;
}

.buttonGoogle:hover{
    background-color: #ffffff6e;
}

.button:hover{
    background-color: #228cca;
}

.div_error {
    display: flex;
    align-items: flex-end;
}

.div_error p {
    margin: 0;
    margin-left: 15px;
    font-size: 14px;
    color: red;
}

.div_error label {
    margin: 0;
}

.div_input{
    display: flex;
    align-items: center;
}

.div_input i{
    margin: 0;
    margin-top: 10px;
    margin-left: -30px;
    cursor: pointer;
}





@media only screen and (max-width: 1919px) {
    .div_detalle{
        height: 300px;
        width: 60%;
    }

    .main_container{
        width: 450px;
    }
    

    .fields input{
        width: 350px;
    }

    .inside_container{
        width: 90%;
        
    }

    .fields label{
        font-size: 16px;
        margin-top: 10px;
    }

    .div_buttons{
        margin-top: 375px;
    }
    
    .div_spinner{
        margin-top: 365px;
    }


  }