.main_container{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    height: 50vh;
    width: 600px;
    background-color: #E8EFF4;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

.h2{
    margin-left: 50px;
    font-size: 40px;
    margin-right: 40px;
    line-height: 80px;
    margin-bottom: 0;
}

.blue{  
    color: #38B6FF;
}

.inside_container{
    height: 100%;
}

.fields1{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.fields2{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.fields1 label{
    font-size: 20px;
    margin-top: 10px;
}

.fields1 input{
    width: 400px;
    border: none;
    height: 30px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
}

.fields2 label{
    font-size: 20px;
    margin-top: 10px;
}

.fields2 input{
    width: 400px;
    border: none;
    height: 30px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
}

.main_container button{
    margin-left: 50px;
    margin-top: 30px;
    border: none;
    background-color: #38B6FF;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border-radius: 3px;
}

.div_p{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;  
    align-items: center;
}

.button{
    margin-top: 200px;
    border: none;
    background-color: #38B6FF;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border-radius: 3px;
}



.button:hover{
    background-color: black;
    color:  #FFFFFF;
}