.main {
    margin: auto;
    max-width: 1920px;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lato';
}

.izquierda {
    position: fixed;
    display: flex;
    width: 550px;
    height: 100%;
    font-size: medium;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.derecha {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    width: 100%;
    max-width: calc(100% - 600px);
    height: 100%;
    margin-left: 600px;
}

.search {
    position: relative;
    z-index: 3;
    margin-bottom: -60px;
    margin-left: 80px;
}

.map {
    position: relative;
    z-index: 2;
    height: 550px;
    width: 700px;
}

.mapa {
    height: 675px;
    width: 700px;
    margin-top: 25px;
}

.mapPlusData {
    display: flex;
    flex-direction: row;
}

.ubiInput {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: -20px;
}

.ubiButton {
    position: relative;
    width: 500px;
    background-color: #fafafac1;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
}

.ubiButton:hover {
    background-color: #fafafa;
}

.results {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.fieldDir {
    display: flex;
    flex-direction: column;
}

.custom_field {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    --field-padding: 12px;
}

.custom_field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 10px;
    width: 500px;
    outline: none;
    font-size: 14px;
}

.custom_field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2) - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 20px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}

.custom_field input.dirty+.placeholder,
.custom_field input:focus+.placeholder,
.custom_field input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 12px;
    color: #222;
}



.custom_field.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
        linear-gradient(90deg, #0071b3, #0071b3) center bottom/0 0.15em no-repeat,
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
        linear-gradient(90deg, #fafafac1, #fafafac1) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
}

.custom_field.two input.dirty,
.custom_field.two input:not(:placeholder-shown),
.custom_field.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.custom_field i {
    position: relative;
    margin-left: -30px;
    cursor: pointer;
}

.searchButton {
    display: flex;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    background-color: #fafafac1;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.searchButton img {
    width: 20px;
    height: 20px;
}

.searchButton:hover {
    background-color: #fafafa;

}

.searchController {
    display: flex;
    flex-direction: row;
}

.ubiTitle {
    margin-bottom: 10px;
}

.advices {
    margin-top: 30px;
}

.descripArea {
    width: 500px;
    height: 300px;
    resize: none;
    font-family: "lato";
    padding: 12px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.descripArea:focus {
    outline: none !important;
    border: 2px solid #0071b3;
}

.selectLabel {
    margin-bottom: 15px;
}

.selectContainer {
    width: 500px;
}

.valueInfoContainer {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.valueCard {
    display: flex;
    margin-top: 100px;
    height: 200px;
    width: 500px;
    border-radius: 5px;
    background-color: white;
    margin-left: 200px;
    justify-self: center;
    align-self: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardInside {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 450px;
    gap: 100px;
    padding: 40px;
}

.pole {
    justify-self: center;
    align-self: center;
    margin-top: 90px;
    height: 220px;
    width: 40px;
    background-color: #0071b3;
    border-radius: 5px;
    position: absolute;
    margin-left: 175px;
}

.priceContainer{
    margin-left: 60px;
    display: flex;
    text-align: right;
    flex-direction: column;
}

.price{
    height: 5px;
    width: 150px;
}

.exp1{
    margin-top: -10px;
    height: 5px;
    width: 130px;
}

.exp2{
    margin-top: -20px;
    height: 5px;
    width: 130px;
}


.expContainer{
    margin-top: -10px;
}

.basicInfo{
    display: flex;
    flex-direction: row;
}

.houseGraph{
    height: 300px;
    width: 300px;
    background-color: #fafafa;
    justify-self: center;
    align-self: center;
    margin-left: 200px;
}

.houseGraph img{
    width: 100%;
    height: 100%;
}

.descripAreaContainer{
    margin-top: 40px;
}