.div_menu{
    display: flex;
    align-items: center;
    gap: 25px;
}


.menu{
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.menu.active .bar:nth-child(2){
    opacity: 0;
}

.menu.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.menu.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


.hidden_menu{
    z-index: 1;
    right: 3px;
    top: 45px;
    position: absolute;
    height: 0px;
    width: 350px;
    background-color: #E8EFF4;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.hidden_menu.active{
    border-bottom-left-radius: 10px;
    height: 600px;
    z-index: 1;
    
}

.inside_hidden_menu{
    z-index: 1;
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3 linear;
}

.fieldDir {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.custom_field {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    --field-padding: 12px;
}

.custom_field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 10px;
    width: 800px;
    outline: none;
    font-size: 14px;
}

.custom_field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2) - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 20px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #f2f2f2;
    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}

.custom_field input.dirty+.placeholder,
.custom_field input:focus+.placeholder,
.custom_field input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 12px;
    color: #222;
}



.custom_field.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
        linear-gradient(90deg, #0071b3, #0071b3) center bottom/0 0.15em no-repeat,
        linear-gradient(90deg, #f2f2f2, #f2f2f2) left bottom/100% 0.15em no-repeat,
        linear-gradient(90deg, #f2f2f2, #f2f2f2) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
}

.custom_field.two input.dirty,
.custom_field.two input:not(:placeholder-shown),
.custom_field.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.custom_field i {
    position: relative;
    margin-left: -30px;
    cursor: pointer;
}
