/*
    .footer{
    margin-top: auto;
    background-color: black;
    position: relative;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("https://images.unsplash.com/photo-1556089175-54732507ad23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: 10% 40%;
    opacity: 0.40;
}
*/

.footer{
    height: 100px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.square{
    display: flex;
    margin-left: 100px;
}

.img_footer{
    margin-top: 24px;
    height: 50px;
}

.txt{
    margin-top: 23px;
    margin-left: 90px;
    font-size: 20px;
    font-style: italic;
    color: white;
}
/*Para el registro*/
/*https://images.unsplash.com/photo-1556089175-54732507ad23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80*/