.header{
    position: fixed;
    height: 45px;
    width: 100%;
    background-color: #007cc3;
    /*celeste: 1aabff   blue: 007cc3    blueMasOscuro: 0071b3   gris: 424243*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.div_img{
    height: 30px;
    width: 60px;
    position: relative;
    cursor: pointer;
}

.derecha{
    display: flex;
    align-items: center;
    gap: 25px;
}



.menu{
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
}

.menu.active .bar:nth-child(2){
    opacity: 0;
}

.menu.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.menu.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


.hidden_menu{
    z-index: 1;
    right: 3px;
    top: 45px;
    position: absolute;
    height: 0px;
    width: 350px;
    background-color: #E8EFF4;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.hidden_menu.active{
    border-bottom-left-radius: 10px;
    height: 600px;
    z-index: 1;
    
}

.inside_hidden_menu{
    z-index: 1;
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3 linear;
}


.foto{
    width: 80px;
    height: 80px;
    
}

.logo{
    height: 40px;
    width: 90px;
    margin-left: 20px;
}

.foto img{
    width: 100%;
    border-radius: 5px;
}

.userInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userInfo h3{
    margin-left: 40px;
}

.menuButton{
    height: 100%;
    width: 100%;
    position: relative;
    border-bottom: black solid 1px;

}



.link{
    width: 100%;
    height: 30px;
}

.options{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.options h1{
    margin-left: 20px;
}

.buttonInside{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
}

.buttonInsideLogout{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
}

.buttonInsideLogout img{
    height: 30px;
    width: 30px;
}

.buttonInsideLogout img:hover{
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

.menuButton:hover{
    border-left: #007cc3 solid 4px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.buttonInside img{
    height: 30px;
    width: 30px;
}

.menuButtonSignOut{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    position: relative;
}

.currentUser{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    margin-top: 130px;
    border-top: black solid 1px;;
}

.currentUserLogged{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    margin-top: 90px;
    border-top: black solid 1px;;
}

.currentUserLogged p{
   margin-left: 20px;
}

.userDividerLogged{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


.userDivider{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.userDivider img{
    width: 30px;
    height: 30px;
}

.link h1{
    cursor: pointer;
}

.title{
    margin-bottom: 30px;
}