.header{
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
}

.header:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("https://images.unsplash.com/photo-1548795179-8bfc5c1ebb24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: 10% 35%;
    opacity: 0.50;
}

.back{
    width: 1800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}


.div_title{
    margin-left: 70px;
    margin-top: -30px;
    width: 500px; 
    position: relative;
}


.h1_title{
    font-size: 60px;
    line-height: 80px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
}


.span{
    color: #38B6FF;
}


.div_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin-top: -10px;
    width: 600px;
}


.div_button{
    display: flex;
    width: 380px;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 10px;

}


.link_inicio{
    background-color:#FFFFFF;
    transition: ease-in-out 0.3s;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 180px;
    font-size: 22px;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
}


.link_inicio:hover{
    background-color: black;
    color:  #FFFFFF;
}


.link_registro{
    background-color:#38B6FF;
    transition: ease-in-out 0.3s;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 180px;
    color:#FFFFFF;
    font-size: 22px;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
}


.link_registro:hover{
    background-color: black;
    color: #FFFFFF;
}


.div_search{
    margin-right: 100px;
    margin-top: 170px;
    width: 640px;
}


.form_search{
    display: flex;
}

.search{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    font-size: 20px;
    background-color: #FFFFFF;
    outline: transparent;
}


.image{
    border: none;
    border-left: 1.5px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFFFFF;
    height: 40px;
}


