.header{
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: #424243;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.div_img{
    height: 38px;
    width: 72px;
    position: relative;
    cursor: pointer;
}

.derecha{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header input{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .3s;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid transparent;
}

.header input:focus{
    border: 1px solid #38B6FF;
    box-shadow: 0 0 5px 0 #38B6FF;
}

.menu{
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
}

.menu.active .bar:nth-child(2){
    opacity: 0;
}

.menu.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.menu.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


.hidden_menu{
    right: 0;
    top: 55px;
    position: absolute;
    height: 0px;
    width: 400px;
    background-color: #FFFFFF;
    background-color: #424243;
    transition: all 0.3s ease-in-out;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.hidden_menu.active{
    height: 700px;
    
}

.inside_hidden_menu{
    position: absolute;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3 linear;
}



.div_img_user{
    position: relative;
    width: 30px;
    height: 30px;
}