.arriba{
    display: flex;
}

.perfil{
    width: 300px;
}

.fondo{
    width: 600px;
}

.edit_icon{
    background-color: white;
    padding: 3px;
    border-radius: 3px;
    
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.input_file{
    display: none;
}


.delete_icon{
    background-color: white;
    padding: 4px;
    border-radius: 3px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}








.modal_crop {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(0 0 0 / 0.8);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 30px;


}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #FFF;
}

.menu .bar:nth-child(2) {
    opacity: 0;
}

.menu .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu_cargando{
    width: 25px;
    height: 29px;
    margin-bottom: 30px;
}


.modal_crop_inside {
    width: 700px;
    height: 700px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 15px 20px;

}


.div_cropper {
    position: relative;
    width: 100%;
    height: 400px;
    border-top-left-radius: 20px;
    overflow: hidden;
    border-top-right-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

}



.div_controls {
    position: relative;
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8EFF4;
}


.controls{
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 30px;
    display: flex;
}



.zoom_range {
    width: 300px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    padding: 0;
    margin: 0;
}



.div_rotate {
    display: flex;
    gap: 20px;
}


.btn_rotate {
    position: relative;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    
    border-bottom: 2px solid black;
}

.btn_rotate:hover {
    border: 1px solid black;
    border-bottom: 2px solid black;
}

.btn_rotate:active {
    background-color: #0071b3;
}

.button_recortar {
    margin-top: 30px;
    align-self: center;
    width: 120px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    margin-bottom: 45px;
}


.button_back {
    width: 120px;
    height: 50px;
    position: absolute;
    background-color: #0071b3;
    transition: all ease-in-out .2s;
    z-index: 0;
    top: 0;
}

.button_content {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    background-color: #E8EFF4;
    transition: all ease-in-out .2s;
    border-bottom: 1px solid black;
    top: 0;

}

.descripArea{
    width: 450px;
    height: 130px;
    resize: none;
    font-family: "lato";
    padding: 12px;
    font-size: 14px;
    border:  1px solid #aaa;
    border-radius: 3px;
}

.descripArea:focus {
    outline: none !important;
    border:2px solid #0071b3;
}

.ubiLabel span{
    font-size: 13px;
    color: #0071b3;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
}

.ubiLabel span:hover{
    color: #0096ec;
}

.button_content span {
    font-weight: bold;
}

.button_recortar:hover .button_content {
    transform: translate(3px, -3px);

}

.button_recortar:hover .button_back {
    transform: translate(-3px, 3px);
}




















.infoChange_container{
    position: fixed;
    display: flex;
    width: 550px;
    height: 100%;
    flex-direction: column;
    font-size: medium;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    overflow-y: scroll;
    padding-bottom: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.infoChange_container::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
}

.infoChange_container::-webkit-scrollbar
{
  width: 10px;
}

.infoChange_container::-webkit-scrollbar-thumb
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  background-color: #0071b3;
  border-radius: 10px;
}

.pInfo{
    margin-top: -10px;
}

.uInfo{
    margin-top: 30px;
}

.dInfo{
    margin-top: 30px;
}

.dInfo h2 span{
    font-size: 15px;
}

.reloadBtn{
    height: 15px;
    width: 17px;
    cursor: pointer;

    /* https://www.flaticon.com/free-icon/reload_3580291?term=reload&page=1&position=2&page=1&position=2&related_id=3580291&origin=style */
}

.reloadBtn img{
    height: 100%;
    width: 100%;
    
}


.derecha{
    padding: 20px;
    padding-top: 50px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-left: 600px;
}

.fieldDir{
    display: flex;
    flex-direction: column;
}

.fieldDirSelect{
    display: flex;
    flex-direction: column;
    width: 450px;
    position: relative;
}

.ubi{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.divButtons{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: flex-end;
    width: 450px;
}

.divButtonsSure{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    justify-content: flex-end;
    width: 450px;
    gap: 50px;
}

.buttonsInside{
    width: 200px;
    position: relative;
}

.buttonConfirm{
    width: 250px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    
}

.buttonConfirm_back{
    width: 250px;
    height: 40px;
    background-color: #0071b3;
    transition: all ease-in-out .2s;
    z-index: 0;
    position: absolute;
}

.buttonConfirm_content{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 40px;
    background-color: #ffffff;
    transition: all ease-in-out .2s;
    border-bottom: 1px solid #0071b3;
    
}

.buttonConfirm_content span{
    font-weight: bold;
}


.buttonConfirm:hover .buttonConfirm_content{
    transform: translate(3px, -3px);

}

.buttonConfirm:hover .buttonConfirm_back{
    transform: translate(-3px, 3px);
}

.buttonDiscard{
    width: 170px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    
}

.buttonDiscard_back{
    width: 170px;
    height: 40px;
    background-color: #a41717;
    transition: all ease-in-out .2s;
    z-index: 0;
    position: absolute;
}

.buttonDiscard_content{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 170px;
    height: 40px;
    background-color: #ffffff;
    transition: all ease-in-out .2s;
    border-bottom: 1px solid red;
    
}

.buttonDiscard_content span{
    font-weight: bold;
}


.buttonDiscard:hover .buttonDiscard_content{
    transform: translate(3px, -3px);

}

.buttonDiscard:hover .buttonDiscard_back{
    transform: translate(-3px, 3px);
}



.buttonNo{
    width: 200px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    
}

.buttonNo_back{
    width: 200px;
    height: 40px;
    background-color: #a41717;
    transition: all ease-in-out .2s;
    z-index: 0;
    position: absolute;
}

.buttonNo_content{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    transition: all ease-in-out .2s;
    border-bottom: 1px solid red;
    
}

.buttonNo_content span{
    font-weight: bold;
}


.buttonNo:hover .buttonNo_content{
    transform: translate(3px, -3px);

}

.buttonNo:hover .buttonNo_back{
    transform: translate(-3px, 3px);
}






.buttonYes{
    width: 200px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    
}

.buttonYes_back{
    width: 200px;
    height: 40px;
    background-color: #0071b3;
    transition: all ease-in-out .2s;
    z-index: 0;
    position: absolute;
}

.buttonYes_content{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    transition: all ease-in-out .2s;
    border-bottom: 1px solid black;
    
}

.buttonYes_content span{
    font-weight: bold;
}


.buttonYes:hover .buttonYes_content{
    transform: translate(3px, -3px);

}

.buttonYes:hover .buttonYes_back{
    transform: translate(-3px, 3px);
}

.sure{
    margin-top: 10px;
}




.custom_field {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    --field-padding: 12px;
}

.custom_field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 10px;
    width: 450px;
    outline: none;
    font-size: 14px;
}

.custom_field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2) - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 20px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}

.custom_field input.dirty+.placeholder,
.custom_field input:focus+.placeholder,
.custom_field input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 12px;
    color: #222;
}



.custom_field.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
    linear-gradient(90deg, #0071b3, #0071b3) center bottom/0 0.15em no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
}

.custom_field.two input.dirty,
.custom_field.two input:not(:placeholder-shown),
.custom_field.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}






.custom_field i{
    position: relative;
    margin-left: -30px;
    cursor: pointer;
}



.profileDataContainer{
 display: flex;
 flex-direction: row;
 align-items: center;
}

.container_imgProfile{
    position: relative;
    width: fit-content;
    margin-left: -440px;
    display: flex;
    flex-direction: row;
}


.imageProfileInside{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.perfil{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.fondo{
    width: 550px;
    height: 500px;
    border-bottom-right-radius: 10px;
}

.container_imgBack{
    position: relative;
    width: fit-content;
}

.profileTextPill{
    width: 800px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    font-family: 'lato';
    padding: 20px;
}

.profileName{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.profileNameInside{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    width: 300px;
    height: 50px;
}

.name{
    font-weight: bold;
}

.pillUbi{
    width: 200px;
    height: 60px;
}

.contactInfo{
    height: 150px;
    width: 200px;
}

.cInfo{
    font-weight: 700;
}

.descriptionPill{
  display: flex;
}

.profileData{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.blackPill{
    display: flex;
    height: 100%;
    width: 300px;
    background-color: #222;
    align-self: flex-end;
}
