.main {
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lato';

}

.izquierda {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 950px;
    width: 50%;
    height: 100%;
    font-size: medium;
}

.derecha {
    margin-top: 20px;
    padding: 15px;
    width: 50%;
    height: 100%;
    margin-left: auto;
}


.filtros{
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 3;
}

@media only screen and (max-width: 500px) { 
    .izquierda{
        display: none;
    }

    .derecha{
        width: 100%;
    }
}

.userSearch{
    display: flex;
    margin-left: 745px;
    margin-top: -157px;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    background-color: #fafafac1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.userSearch:hover{

    background-color: white;

}

.userSearch p{
    font-size: medium;
    font-weight: 500;
}


.pubSearch{
    display: flex;
    position: absolute;
    margin-left: 1050px;
    margin-top: 75px;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    background-color: #fafafac1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pubSearch:hover{
    background-color: white;

}

.pubSearch p{
    font-size: medium;
    font-weight: 500;
}