.publicacion_extendida {
    height: 100%;
    width: 550px;
}

.div_imgs {
    display: flex;
    cursor: pointer;
    transition: all .1 ease-in-out;
    padding-top: 10px;
    gap: 5px;
    
}

.div_imgs:hover {
    transition: all .1 ease-in-out;
}


.img_principal {
    width: 340px;
    height: 345px;
    border-radius: 5px;
}

.img_secundarias {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.img_secundarias img {
    width: 100%;
    height: 170px;
    border-radius: 5px;
}


.div_descripcion {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 500px;
}

.publicador img {
    width: 100px;
}

.preguntas {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    border-radius: 10px;
}

.preguntasContainer {
    overflow-y: scroll;
    width: 520px;
    max-height: 300px;
    height: fit-content;
}

.headerPreg {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-bottom: -20px;
}

.preg {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.headerRta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: -20px;
    margin-left: 15px;

}

.rta {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.rtaBody {
    margin-top: -20px;
    margin-left: 45px;
}

.lineUp {
    width: 20px;
    height: 1px;
    background-color: black;
    margin-bottom: 8px;
}

.lineLeft {
    width: 1px;
    height: 15px;
    background-color: black;
}

.headerInside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.custom_field {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    --field-padding: 12px;
}

.custom_field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 10px;
    width: 450px;
    outline: none;
    font-size: 14px;
}

.custom_field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2) - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 20px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}

.custom_field input.dirty+.placeholder,
.custom_field input:focus+.placeholder,
.custom_field input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 12px;
    color: #222;
}

.custom_field.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
        linear-gradient(90deg, #0071b3, #0071b3) center bottom/0 0.15em no-repeat,
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
        linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
}

.custom_field.two input.dirty,
.custom_field.two input:not(:placeholder-shown),
.custom_field.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}


.custom_field i {
    position: relative;
    margin-left: -30px;
    cursor: pointer;
}

.fieldDir {
    margin-top: 10px;
}

.buttonConfirm {
    width: 250px;
    height: 40px;

    cursor: pointer;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.buttonConfirm_back {
    width: 250px;
    height: 40px;
    background-color: #0071b3;
    transition: all ease-in-out .2s;
    z-index: 0;
    position: absolute;
}

.buttonConfirm_content {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 40px;
    background-color: #ffffff;
    transition: all ease-in-out .2s;
    border-bottom: 1px solid #0071b3;

}

.buttonConfirm_content span {
    font-weight: bold;
}


.buttonConfirm:hover .buttonConfirm_content {
    transform: translate(3px, -3px);

}

.buttonConfirm:hover .buttonConfirm_back {
    transform: translate(-3px, 3px);
}

.custom_fieldRta {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    --field-padding: 12px;
}

.custom_fieldRta input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 10px;
    width: 300px;
    outline: none;
    font-size: 14px;
}

.custom_fieldRta .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2) - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 20px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}

.custom_fieldRta input.dirty+.placeholder,
.custom_fieldRta input:focus+.placeholder,
.custom_fieldRta input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 12px;
    color: #222;
}

.custom_fieldRta.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
        linear-gradient(90deg, #0071b3, #0071b3) center bottom/0 0.15em no-repeat,
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
        linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
}

.custom_fieldRta.two input.dirty,
.custom_fieldRta.two input:not(:placeholder-shown),
.custom_fieldRta.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}


.custom_fieldRta i {
    position: relative;
    margin-left: -30px;
    cursor: pointer;
}

.rtaForm {
    margin-top: -10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonConfirmRta {
    margin-top: -30px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.buttonConfirmRta_back {
    width: 150px;
    height: 40px;
    background-color: #0071b3;
    transition: all ease-in-out .2s;
    z-index: 0;
    position: absolute;
}

.buttonConfirmRta_content {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: #ffffff;
    transition: all ease-in-out .2s;
    border-bottom: 1px solid #0071b3;

}

.buttonConfirmRta_content span {
    font-weight: bold;
}


.buttonConfirmRta:hover .buttonConfirmRta_content {
    transform: translate(3px, -3px);

}

.buttonConfirmRta:hover .buttonConfirmRta_back {
    transform: translate(-3px, 3px);
}


.responseButton1 {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #fafafa;
}

.responseButton2 {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #fafafa;

}

.responseForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.delButton {
    max-height: 40px;
    max-width: 40px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    justify-items: center;
    align-items: center;
    display: flex;
}

.divImgSubmit {
    max-width: 20px;
    max-height: 20px;
}











.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(0 0 0 / 0.8);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu {
    position: absolute;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 30px;
    right: 20px;
    top: 15px;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #FFF;
}

.menu .bar:nth-child(2) {
    opacity: 0;
}

.menu .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


.modal_inside {
    width: 700px;
    height: 100%;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }


.container_slider{
    width: 700px;
    height: 700px;
    
}


















.rightArrowStyles{
    display: flex;
    min-height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 45px;
    color: white;
    z-index: 1;
    cursor: pointer;
    background-color: #38363656;
    border-radius:  5px;
    min-width: 50px;
    justify-content: center;
    align-items: center
}

.leftArrowStyles{
    display: flex;
    min-height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: white;
    z-index: 1;
    cursor: pointer;
    background-color: #38363656;
    border-radius:  5px;
    min-width: 50px;
    justify-content: center;
    align-items: center
}

.divImgSubmit1 {
    height: 20px;
    width: 20px;
    rotate: 90deg;
}

.divImgSubmit2 {
    height: 20px;
    width: 20px;
    rotate: -90deg;
}