.publicacion_extendida{
    
    height: 100%;
    width: 550px;
}

.div_imgs{
    display: flex;
}

.img_principal{
    width: 350px;
    height: 350px;
}

.img_secundarias{
    display: flex;
    flex-direction: column;
}

.img_secundarias img{
    width: 194px;
    height: 175px;
}


.div_descripcion{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 500px;
}

.publicador img{
    width: 100px;
}

.preguntas{
    margin-top: 30px;
    width: 100%;

}

.preguntasContainer{
    overflow-y: scroll;
    width: 100%;
    height: 150px;

}