.main {
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lato';

}

.izquierda {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 950px;
    width: 50%;
    height: 100%;
    font-size: medium;
}

.derecha {
    margin-top: 20px;
    padding: 15px;
    width: 50%;
    height: 100%;
    margin-left: auto;
}


.filtros{
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 3;
}

@media only screen and (max-width: 500px) { 
    .izquierda{
        display: none;
    }

    .derecha{
        width: 100%;
    }
}

.userSearch{
    margin-left: 750px;
    margin-top: -145px;
}

.userSearch p{
    font-size: large;
    font-weight: 500;
    color: #1263e6;
}

.userSearch p:hover{
    color: #5512e6;
    cursor: pointer;
}