.body{
    margin: 0px;
}

.contenedor_Principal{
    height: 568px;
    display: flex;
}

.img{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 1075px;
    height: 568px;
    background-color: black;
    border-bottom-left-radius: 20px;
    background-image: url("https://images.unsplash.com/photo-1459535653751-d571815e906b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=868&q=80"); 
    background-size: cover;
    background-position: 0%;
    transform: scaleX(-1);
}

.texto_titulo{
    transform: scaleX(-1);
}

.img_footer{
    margin-top: -50px;
    margin-left: 50px;
    height: 50px;
}

.h1{
    font-family: 'Lato';
    font-size: 50px;
    color: white;
    display: flex;
    margin-top: 200px;
    margin-left: 50px;
}

.textos{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 70px;
}

.titulo{
    width: 400px;
    font-family: 'Lato';
    font-size: 32px;
    line-height: 40px;
}

.texto{
    font-family: 'Lato';
    margin-top: 50px;
    font-size: 22px;
    line-height: 35px;
    width: 600px;
}

.span{
    color: #38B6FF;
}

h2 .span{
    margin-left: 10px;
}

.contenedor_Secundario{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.textos_sec{
    height: 100%;
    width: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 170px;
    margin-left: 130px;
}

.img_Sec{
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    align-self: center;
    width: 1075px;
    height: 450px;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-image: url("https://images.unsplash.com/photo-1541205646242-30258c7485b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=901&q=80");
    background-size: cover;
    background-position: 0%;
    display: flex;
    justify-content: flex-end;
}


.titulo_sec{
    width: 500px;
    font-family: 'Lato';
    font-size: 32px;
    line-height: 40px;
}

.texto_sec{
    font-family: 'Lato';
    margin-top: 50px;
    font-size: 22px;
    line-height: 35px;
    width: 550px;
}

.h1_sec{
    font-family: 'Lato';
    font-size: 50px;
    color: white;
    display: flex;
    margin-top: 200px;
    margin-right: 50px;
}

@media screen and (max-width:1800px){
    .titulo{
        font-size:30px;
        justify-content: center;
    }
    .texto{
        font-size: 20px;
        justify-content: center;
    }
    .titulo_sec{
        font-size: 30px;
        justify-content: center;
    }
    .texto_sec{
        font-size: 20px;
        justify-content: center;
    }

    .img{
        background-position: 50%;
        height: 500px;
        width: 850px;
    }
    .img_Sec{
        background-position: 50%;
        height: 500px;
        width: 850px;
    }
}
@media screen and (max-width:1540px){
    .img{
        height: 450px;
        width: 800px;
    }
    .img_Sec{
        width: 800px;
        height: 450px;
    }
    .titulo{
        font-size: 25px;
    }
    .texto{
        justify-content: center;
    }
    .titulo_sec{
        font-size: 25px;
    }
    .texto_sec{
        justify-content: center;
    }
}