.usuario{
    height: 300px;
    width: 90%;
    max-width: 1850px;
    margin: 20px auto;
    cursor: pointer;
    align-items: center;
    transition: all ease-in-out 0.10s;
}

.usuario:hover .profilePill{
    background-color: rgba(255, 255, 255, .4);
    transition: all ease-in-out 0.10s;
}

.usuarioImg{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-top: -15px;
    z-index: 10;
}

.background{
    position: fixed;
    margin-top: -100px;
}

.background img{
    height: 500px;
    width: 700px;
}

.backgroundCont{
    z-index: 0;
    display: flex;
}


.usuario_extendido{
    width: 90%;
    max-width: 1850px;
    margin: 20px auto;
    cursor: pointer;
    align-items: center;
    transition: all ease-in-out 0.10s;
    cursor: default;
    height: calc(100vh - 90px);
}

.profilePill{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    background-color: white;
    height: 300px;
    width: 1100px;
    margin-bottom: 20px;
    border-radius: 5px;
   justify-content: center;
   padding: 40px;
}

.profileContainer{
 display: flex;
 flex-direction: row;
 align-items: center;

}

.name{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.starsPill{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    gap: 20px;
    height: 300px;
    width: 300px;
    background-color: #2F2F2F;
    color: white;
    justify-content: center;  
    padding: 20px;
}

.custom_field {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    --field-padding: 12px;
}

.custom_field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: f2f2f2;
    padding: var(--field-padding);
    border-radius: 10px;
    width: 600px;
    outline: none;
    font-size: 14px;
}

.custom_field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2) - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 20px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}

.custom_field input.dirty+.placeholder,
.custom_field input:focus+.placeholder,
.custom_field input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 12px;
    color: #222;
}



.custom_field.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
        linear-gradient(90deg, #0071b3, #0071b3) center bottom/0 0.15em no-repeat,
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
        linear-gradient(90deg, #fafafac1, #fafafac1) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
}

.custom_field.two input.dirty,
.custom_field.two input:not(:placeholder-shown),
.custom_field.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.custom_field i {
    position: relative;
    margin-left: -30px;
    cursor: pointer;
}

.controls{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.searchControl{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.div_img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #fafafac1;
    padding: 7px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.div_img:hover{
    background-color: white;
}


.div_img2{
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

.div_img3{
    max-width: 30px;
    max-height: 30px;
    margin-top: -2px;
    margin-left: -2px;
    cursor: pointer;
}

.descrip{
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    height: 100px;
    width: 300px;
    word-wrap: break-word;
    margin-top: -50px;
    position: absolute;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.userData{
    display: flex;
    flex-direction: column;
}

.contactInfo{
    display: flex;
    flex-direction: column;
}

.contactInfo p{
    margin-top: -5px;
}
